:root{
	--light-color-1: #F9F4EE;
	--light-color-2: #D2963C;
	--middle-color-1: #3B64D3;
	--dark-color-1: #3552A3;
	--dark-color-2: #121A2F;
}

body{
	/*For IE*/
	background: MidnightBlue;
	color: MidnightBlue;
	
	/*For everyone else*/
	background: var(--dark-color-2);
	color: var(--dark-color-2);
}
#bannerbg{
	background:url('../images/bannerbg.jpg') no-repeat center center fixed;
	/*height: 300px;*/
	height: 20%;
}

#bannerbg h1{
	font-size: 48pt;
	font-weight:bold;
	
	/*For IE*/
	color: OldLace;
	
	/*For everyone else*/
	color: var(--light-color-1);
}

#bannerbg #selfimg{
	float:left;
	height: auto;
	width: 70%;
}

#bannerquote{
	font-size: 12pt;
	font-style: italic;
	text-align: center;
	margin-top: -1em;
	font-weight:bold;
	margin-bottom: -1em;
	
	/*For IE*/
	color: OldLace;
	background: SandyBrown;
	
	/*For everyone else*/
	color: var(--light-color-1);
	background: linear-gradient(to right, var(--dark-color-2),var(--light-color-2),var(--dark-color-2));
}

.navbar{
	
	font-weight:bold;
	float:left;
	height:100%;
	overflow:hidden;
	
	/*For IE */
	background: CornflowerBlue;
	
	/*For everyone else*/
	background: linear-gradient(to right, var(--light-color-1), var(--middle-color-1) );
}

.navbar > a{
	text-alight:right;
	text-decoration: none;
}

.navbar > a:hover{
	
	/*For IE*/
	background: SandyBrown;
	
	/*For everyone else*/
	background: linear-gradient(to right, var(--light-color-2), var(--light-color-1));
}

.navbar-small{
	font-weight:bold;
	float:left;
	height:100%;
	
	/*For IE*/
	background: CornflowerBlue;
	
	/*For everyone else*/
	background: linear-gradient(to right, var(--middle-color-1), var(--light-color-1), var(--middle-color-1) );
}

.navbar-small > a{
	text-alight:center;
	text-decoration: none;
}

.navbar-small > a:hover{
	
	/*For IE*/
	background: SandyBrown;
	
	/*For everyone else*/
	background: linear-gradient(to right, var(--light-color-1), var(--light-color-2), var(--light-color-1));
}

#outercontainer{
	padding-left:10%;
	padding-right:10%;
}