@keyframes fadeEffect{
	from {opacity:0;}
	to {opacity:1;}
}
:root{
	--light-color-1: #F9F4EE;
	--light-color-2: #D2963C;
	--middle-color-1: #3B64D3;
	--dark-color-1: #3552A3;
	--dark-color-2: #121A2F;
}

body{
	background: var(--dark-color-2);
	color: var(--dark-color-2);
}
#bannerbg{
	background:url('../images/bannerbg.jpg') no-repeat center center fixed;
	/*height: 300px;*/
	height: 20%;
}

#bannerbg h1{
	color: var(--light-color-1);
	font-size: 48pt;
	font-weight:bold;
}

#bannerbg #selfimg{
	float:left;
	height: auto;
	width: 70%;
	/*padding-left: 1em;*/
}

#bannerquote{
	color: var(--light-color-1);
	background: linear-gradient(to right, var(--dark-color-2),var(--light-color-2),var(--dark-color-2));
	font-size: 12pt;
	font-style: italic;
	text-align: center;
	margin-top: -1em;
	font-weight:bold;
	margin-bottom: -1em;
}

div.content a{
	color: #2650AA;
	clear:right;
	text-decoration: none;
}

div.content a:hover{
	color: var(--light-color-2);
	text-decoration: underline;
}

div.downloadcollection li{
	float: left;
	list-style-type:none;
	margin-left: 2rem;
	margin-bottom: 2rem;
}

div.content h3{
	background: linear-gradient(to right, var(--dark-color-1), var(--light-color-2));
	color: var(--light-color-1);
	font-size:20pt;
	font-style:italic;
	padding-left: 1em;
}

div.content h4.bioTagline{
	font-style:italic;
	font-weight:bold;
}

div.content iframe.resumeview{
	height:415px;
	width:100%;
}

div.content li{
	padding-top: 10px;	
}

div.content p.bioContent{
	text-align:justify;	
}

div.content p.edcomplete{
	font-style:italic;	
}

div.contentheader h2{
	font-size: 32pt;
	font-weight: bold;
}
/*
#navbg{
	background-color: linear-gradient(to right, var(--light-color-1), var(--middle-color-1) );
	width: 15%;
	float:left;
	/*position: absolute;*/
	
/*}*/

.navbar{
	background: linear-gradient(to right, var(--light-color-1), var(--middle-color-1) );
	font-weight:bold;
	float:left;
	height:100%;
	overflow:hidden;
}

.navbar > a{
	text-alight:right;
	text-decoration: none;
}

.navbar > a:hover{
	background: linear-gradient(to right, var(--light-color-2), var(--light-color-1));
}

.navbar-small{
	background: linear-gradient(to right, var(--middle-color-1), var(--light-color-1), var(--middle-color-1) );
	font-weight:bold;
	float:left;
	height:100%;
}

.navbar-small > a{
	text-alight:center;
	text-decoration: none;
}

.navbar-small > a:hover{
	background: linear-gradient(to right, var(--light-color-1), var(--light-color-2), var(--light-color-1));
}

#outercontainer{
	padding-left:10%;
	padding-right:10%;
}

div.pagecontent{
	background: var(--light-color-1);
	/*margin-left:20%;*/
}

div.pagecontentbg{
	
}

div.tabcollection{
	overflow:hidden;
	background: linear-gradient(to right, var(--middle-color-1), var(--light-color-1));
}

div.tabcollection button{
	background-color: inherit;
	color: var(--dark-color-2);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 24px;
    transition: 0.3s;
}

div.tabcollection button.active, div.tabcollection button:hover{
	background: var(--dark-color-2);
	color: var(--light-color-2);
}

div.tabcontent{
	display: none;
	animation: fadeEffect 1s;	
}