@keyframes fadeEffect{
	from {opacity:0;}
	to {opacity:1;}
}
:root{
	--light-color-1: #F9F4EE;
	--light-color-2: #D2963C;
	--middle-color-1: #3B64D3;
	--dark-color-1: #3552A3;
	--dark-color-2: #121A2F;
}

body{
	background: var(--dark-color-2);
	color: var(--dark-color-2);
}
#bannerbg{
	background:url('../images/bannerbg.jpg') no-repeat center center fixed;
	height: 200px;
}

#bannerbg h1{
	color: var(--light-color-1);
	font-size: 48pt;
	font-weight:bold;
	padding-top: 4%;
}

#bannerbg #selfimg{
	float:left;
	height: 35%;
	width: auto;
}

div.content a{
	color: #2650AA;
}

div.content a:hover{
	color: var(--dark-color-1);
}

div.downloadcollection li{
	float: left;
	list-style-type:none;
	margin-left: 2rem;
	margin-bottom: 2rem;
}

div.content h3{
	background: linear-gradient(to right, var(--dark-color-1), var(--light-color-2));
	color: var(--light-color-1);
	font-size:20pt;
	font-style:italic;
	padding-left: 6%;
}

div.content h4.bioTagline{
	font-style:italic;
	font-weight:bold;
}

div.content iframe.resumeview{
	height:415px;
	width:100%;
}

div.content li{
	padding-top: 10px;	
}

div.content p.bioContent{
	text-align:justify;	
}

div.content p.edcomplete{
	font-style:italic;	
}

div.contentheader h2{
	font-size: 32pt;
	font-weight: bold;
}

.navbar-left{
	border-radius: 0;
	float: left;
	height: 100%;
	padding-left: 0;
	padding-top: 0;
	margin-left: 0;
}

.navbar-left .navbar-nav{
	background: linear-gradient(to right, var(--light-color-1), var(--middle-color-1) );
	/*color: #000000;*/
	text-decoration: none;
	width: 160px;
}

.navbar-left .navbar-nav > li{
	float: none;
	font-style: italic;
	font-weight: bold;
	padding: 15px;
	text-align: right;
}

.navbar-left .navbar-nav > li a{
	color: var(--dark-color-2);
	text-decoration: none;
}

div.pagecontentbg{
	background: var(--light-color-1);
}

div.tabcollection{
	overflow:hidden;
	background: linear-gradient(to right, var(--middle-color-1), var(--light-color-1));
}

div.tabcollection button{
	background-color: inherit;
	color: var(--dark-color-2);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 24px;
    transition: 0.3s;
}

div.tabcollection button.active, div.tabcollection button:hover{
	background: var(--dark-color-2);
	color: var(--light-color-2);
}

div.tabcontent{
	display: none;
	animation: fadeEffect 1s;	
}