div.content a{
	color: #2650AA;
	clear:right;
	text-decoration: none;
}

div.content a:hover{
	text-decoration: underline;
	
	/*For IE*/
	color: SandyBrown;
	
	/*For everyone else*/
	color: var(--light-color-2);
}

div.content div.col-padding-right{
	padding-right: 1em;
}

div.content div.col-padding-left{
	padding-left: 1em;
}

div.content h3{
	font-size:20pt;
	font-style:italic;
	padding-left: 1em;
	
	/*For IE*/
	background: RoyalBlue;
	color: OldLace;
	
	/*For everyone else*/
	background: linear-gradient(to right, var(--dark-color-1), var(--light-color-2));
	color: var(--light-color-1);
}

div.content h4.bioTagline{
	font-style:italic;
	font-weight:bold;
}

div.content iframe.resumeview{
	height:415px;
	width:100%;
}

div.content li{
	padding-top: 10px;	
}

div.content p.bioContent{
	text-align:justify;	
}

div.content p.edcomplete{
	font-style:italic;	
}

div.contentheader h2{
	font-size: 32pt;
	font-weight: bold;
}

div.downloadcollection li{
	float: left;
	list-style-type:none;
	margin-left: 2rem;
	margin-bottom: 2rem;
}

div.pagecontent{
	
	/*For IE*/
	background: OldLace;
	
	/*For everyone else*/
	background: var(--light-color-1);
}

div.tabcollection{
	overflow:hidden;
	
	/*For IE*/
	background: CornflowerBlue;
	
	/*For everyone else*/
	background: linear-gradient(to right, var(--middle-color-1), var(--light-color-1));
}

div.tabcollection button{
	background-color: inherit;
	border-radius: 2em;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 24px;
    transition: 0.3s;
	
	/*For IE*/
	color: MidnightBlue;
	
	/*For everyone else*/
	color: var(--dark-color-2);
}

div.tabcollection button.active {
	
	/*For IE*/
	background: MidnightBlue;
	color: SandyBrown;
	
	/*For everyone else*/
	background: var(--dark-color-2);
	color: var(--light-color-2);
}

div.tabcollection button:hover{
	
	/*For IE*/
	background: SandyBrown;
	color: MidnightBlue;
	
	/*For everyone else*/
	background: var(--light-color-2);
	color: var(--dark-color-2);
}

div.tabcontent{
	display: block;
	animation: fadeEffect 1s;	
}